{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<div class="container">
		<p class="text-center" style="color: white;">Bienvenue</p>
	
	</div>

{% endblock %}
